@font-face {
   font-family: 'Jost-VariableFont_wght';
   font-display: swap;
   src: url('file:///C:/Users/taisi/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-12-28_122423/fonts/Jost-VariableFont_wght/font.ttf');
}
